
{% extends 'back/base.html' %}
{% load static %}
{% block mainblock %}
<!-- Mini Top Stats Row (Index page of admin panel) Start -->
<div class="row">
    
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="#" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                    <i class="fa fa-file-text"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong></strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="#" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                    <i class="gi gi-usd"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                     <strong></strong><br>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="#" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                    <i class="gi gi-envelope"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong></strong>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="#" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-amethyst animation-fadeIn">
                    <i class="gi gi-picture"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong></strong>
                    <small></small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

</div>
<!-- Mini Top Stats Row (Index page of admin panel) End -->
<!-- Datatables Content -->
<div class="block full">
    <div id="page-wrapper" class="page-loading" style="display: none;" >
        <div class="preloader">
            <div class="inner">
                <div class="preloader-spinner"></div>
            </div>
        </div>
        
    </div>
    

    <div class="block-title">
        <h2><strong>Products</strong>  </h2>

       
    </div>
    {% if not request.GET %}
        <!-- Show this block if no search query -->
        <div id="modules">
            {% include 'back/product_table.html' %}
        </div>
    {% else %}
        <!-- Show the search results in this block -->
        <div id="modules" hx-swap="outerHTML">
            {% if variants %}
                {% include 'back/product_table.html' %}
            {% else %}
                {% include 'back/product_table.html' %}
            {% endif %}
        </div>
    {% endif %}        
    
</div>
<!-- END Datatables Content -->

{% endblock %}


{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/index.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}